.chat-input {
  margin-right: 5px;
  padding: 13px;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  flex-grow: 1;
  font-size: 15px;
}

.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  border: solid;
  padding: 12px 20px;
  border-radius: 15px;
  font-size: 15px;
  cursor: pointer;
}

.chat-input-container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 60px;
}